

<br>
<div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
  <div class="card-header">Smart Postbox</div>
  <div class="card-body">
    <h4 class="card-title">You have new post:</h4>
    <p class="card-text">02.06.2018 13:12</p>
  </div>
</div>


<br>
<div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
  <div class="card-header">Smart Postbox</div>
  <div class="card-body">
    <h4 class="card-title">You have new post:</h4>
    <p class="card-text">02.06.2018 15:12</p>
  </div>
</div>