
<div class="jumbotron">
  <h2> About this Project</h2>
  <p></p>
  <h3> Credits </h3>
  <p></p>
  <table class="table table-hover" border="0">
    <tr>
      <td><img src="assets/git_icon.png" height="50" width="50"> Github:</td>
      <td><a target="_blank" href="https://github.com/fu-ilab-swp18/smarthome1">Link</a></td>
    </tr>
    <tr>
      <td><img src="assets/spring_icon.png" height="50" width="50"> Spring Framework:</td>
      <td><a target="_blank" href="https://spring.io/">Link</a></td>
    </tr>
    <tr>
      <td><img src="assets/riot_icon.png" height="50" width="50"> Riot:</td>
      <td><a target="_blank" href="https://www.riot-os.org/">Link</a></td>
    </tr>
    <tr>
      <td><img src="assets/bootswatch_icon.png" height="50" width="50"> Bootswatch:</td>
      <td><a target="_blank" href="https://bootswatch.com/">Link</a></td>
    </tr>
    <tr>
      <td><img src="assets/angularjs.png" height="50" width="50"> AngularJS:</td>
      <td><a target="_blank" href="https://angular.io/">Link</a></td>
    </tr>
  </table>
<div>
